.about-container {
  width: 78vw;
  gap: 5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  flex-grow: 0;
  position: relative;
  left: 6vw;
}

.about-quick-scrolls {
  position: fixed;
  top: 100px;
  left: 2vw;
  width: 13vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-quick-scrolls > h3 {
  border-bottom: 1px solid black;
  transition: 0.3s ease;
  margin-bottom: 10px;
  white-space: nowrap;
}

.about-quick-scrolls > .project-switcher {
  margin-bottom: 30px;
  font-size: 21px;
}

.about-quick-scrolls > .project-switcher > span {
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
}

.about-quick-scrolls > .project-switcher > span.not-active {
  font-weight: 400;
  font-size: 20px;
}

.about-quick-scrolls > .project-switcher > span:hover {
  color: #3d3d3d;
}

.dark-mode .about-quick-scrolls > .project-switcher > span:hover {
  color: #c6c6c6;
}

.about-quick-scrolls > .links {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  text-align: center;
  gap: 5px;
}

.about-quick-scrolls > .links > div {
  width: 100%;
  text-align: start;
}

.about-quick-scrolls > .links > div > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
}

.dark-mode .about-quick-scrolls > h3 {
  border-bottom: 1px solid white;
}

.about-quick-scrolls p {
  cursor: pointer;
  color: #0000ee;
  transition: 0.3s ease;
  width: max-content;
}

.dark-mode .about-quick-scrolls p {
  color: #0073ee;
}

.about-quick-scrolls p:hover {
  color: #0056b3;
  text-decoration: underline;
}

.dark-mode .about-quick-scrolls p:hover {
  color: #0077b3;
}
.about-container .text-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.about-container .about-text.highlighted > .about-title {
  background-color: rgba(204, 204, 204, 0.5);
}

.dark-mode .about-container .about-text.highlighted > .about-title {
  background-color: rgba(70, 70, 70, 0.5);
}

.dark-mode .about-container .about-text *:not(a) {
  color: white;
}

.about-container a {
  transition: 0.3s ease;
  color: initial;
  text-decoration: initial;
  cursor: initial;
}

.about-container .about-title {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease 0.2s;
  border-radius: 3px;
}

.about-container .about-text {
  text-align: start;
  font-size: 18px;
}

.about-container .about-text p {
  margin: 10px 0;
  margin-left: 20px;
}

.about-container .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.about-container .img-container > img {
  height: 80vh;
  width: 30vw;
  object-fit: contain;
}

.about-container .text-container .expandor {
  margin-top: 3vh;
}
