.about-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: start;
  flex-grow: 0;
  gap: 8vw;
  position: relative;
  left: 5vw;
}

.about-quick-scrolls {
  position: fixed;
  top: 250px;
  left: 2vw;
  width: 13vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-quick-scrolls > h3 {
  border-bottom: 5px solid #e6ac27;
  transition: 0.3s ease;
  margin-bottom: 10px;
  white-space: nowrap;
  font-family: 'magic night';
}

.about-quick-scrolls > .project-switcher {
  margin-bottom: 30px;
  font-size: 21px;
}

.about-quick-scrolls > .project-switcher > span {
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
}

.about-quick-scrolls > .project-switcher > span.not-active {
  font-weight: 400;
  font-size: 20px;
}

.about-quick-scrolls > .project-switcher > span:hover {
  color: #3d3d3d;
}

.dark-mode .about-quick-scrolls > .project-switcher > span:hover {
  color: #c6c6c6;
}

.about-quick-scrolls > .links {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  text-align: center;
  gap: 5px;
}

.about-quick-scrolls > .links > p {
  font-weight: 600;
  font-size: 20px;
}

.about-quick-scrolls > .links > p:hover {
  font-size: 22px;
}

.about-quick-scrolls > .links > div {
  width: 100%;
  text-align: start;
}

.about-quick-scrolls > .links > div > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  cursor: pointer;
  transition: 0.3s ease;
  width: max-content;
}

.about-quick-scrolls > .links > div > p:hover {
  font-size: 18px;
  font-weight: 600;
}

.dark-mode .about-quick-scrolls p:hover {
  color: #0077b3;
}

.about-container .text-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.about-container .about-text.highlighted > .about-title {
  background-color: rgba(204, 204, 204, 0.5);
}

.dark-mode .about-container .about-text.highlighted > .about-title {
  background-color: rgba(70, 70, 70, 0.5);
}

.dark-mode .about-container .about-text *:not(a) {
  color: white;
}

.about-container a {
  transition: 0.3s ease;
}

.about-container .title-container {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 3px;
}

.about-container .about-text {
  text-align: start;
  font-size: 18px;
}

.about-container .about-text p {
  margin: 10px 0;
  margin-left: 20px;
}

.about-container .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.about-container .img-container > img {
  height: 80vh;
  width: 30vw;
  object-fit: contain;
}

.about-container .text-container .expandor {
  margin-top: 3vh;
}
