.project-container .project-text-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-bottom: 20px;
  position: relative;
  left: 2vw;
}

.project-container .project-row {
  display: flex;
  width: 100%;
  height: max-content;
  align-items: center;
  position: relative;
  padding: 40px 3vw;
  border-radius: 6px;
  transition: 0.5s ease 0.2s;
}

.project-container .project-row.highlighted {
  background-color: rgb(93, 93, 93) !important;
}

.dark-mode .project-container .project-row.even {
  background-color: rgb(35, 35, 35);
}

.project-container .project-row.even {
  background-color: #ddd;
}

.my-project-page .header {
  margin-top: 4vh;
}

.project-container > .seperator {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 0.3s ease;
  z-index: 1;
}

.dark-mode .seperator {
  background-color: white !important;
}

.project-container .project-row .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.project-container .project-row .text > h1 {
  margin-bottom: 5vh;
}

.project-container .first-msg {
  margin-bottom: 50px;
}

.project-intro {
  width: 30vw;
  margin-top: 10px;
  margin-left: 30px;
}

.project-quick-scrolls {
  position: sticky;
  top: 50px;
  width: 22vw;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-quick-scrolls > h3 {
  border-bottom: 5px solid #e6ac27;
  transition: 0.3s ease;
  margin-bottom: 10px;
  white-space: nowrap;
  font-family: 'magic night';
}

.dark-mode .project-quick-scrolls > h3 {
  border-bottom: 5px solid #f1ddb8;
}

.project-quick-scrolls > .project-switcher {
  margin-bottom: 15px;
  font-size: 21px;
}

.project-quick-scrolls > .project-switcher > span {
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
}

.project-quick-scrolls > .project-switcher > span.not-active {
  font-weight: 400;
  font-size: 20px;
}

.project-quick-scrolls > .project-switcher > span:hover {
  color: #3d3d3d;
}

.dark-mode .project-quick-scrolls > .project-switcher > span:hover {
  color: #c6c6c6;
}

.project-quick-scrolls > .links {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  padding-left: 15%;
  text-align: center;
  gap: 5px;
}

.project-quick-scrolls > .links > div {
  width: 100%;
  text-align: start;
}

.project-quick-scrolls > .links > div > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  font-size: 16px;
}

.project-quick-scrolls p {
  cursor: pointer;
  transition: 0.3s ease;
  width: max-content;
}

.project-quick-scrolls > .links > div > p:hover {
  font-size: 18px;
  font-weight: 600;
}

.project-container .project-first-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
