body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ece9e4;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #dbdbdb;
  border-bottom: 1px solid #b0b0b0;
}

button {
  border: none;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode button {
  background: rgb(25, 25, 25);
  color: white;
}

.dark-mode input,
.dark-mode textarea {
  border: 1px solid #2d2d2d;
  border-bottom: 1px solid #484848;
}

h2,
h1 {
  display: inline-block;
  position: relative;
}

h2::before,
h1::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  max-width: 30%;
  border-bottom: 2px solid #e6ac27;
}
